/* CSS Document */
/*html {
	background-color: #FFFFFF;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: calc(100%);
}
body {
	font-family: verdana, helvetica, arial, sans-serif;
	color: #000000;
	font-size: 16px;
	font-variant: small;
	font-weight: normal;
	margin: 0 0 0 0;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	height: calc(100% - 100px);
}*/
a:link, a:visited {
	color: #2EA3F2;
	text-decoration: none;
}
a:hover, a:active {
	opacity: 0.7;
	transition: all 0.4s ease-in-out;
}
.holder {
    min-height: 100px;
}
.topbar {
    position: fixed;
    top: 0px;
	left: 0px;
	width: 100%;
	z-index: 99999;
	background-color: #FFFFFF;
}
.topbar {
	display: block;
	text-align: center;
	background-color: #2ea3f2 50%;
	font-size: 28px;
	padding: 10px;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
	-ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
	-o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
}
.page {
	margin: 0px 10px;
	display: block;
}
.page-left {
	display: block;
	float: left;
	width: calc(50% - 5px);
	padding-right: 5px;
	height: 300px;
}
.page-right {
	display: inline-block;
	float: right;
	width: calc(50% - 5px);
	padding-left: 5px;
	height: 300px;
}
.page-bottom {
	display: block;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.title {
	padding-left: 10%;
	display: block;
	margin-bottom: 10px;
}
.input, .log {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: 250px;
	display: block;
}
.controls {
	text-align: center;
	margin-bottom: 10px;
	display: block;
}