/* CSS Document */
/*html {
	background-color: #FFFFFF;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: calc(100%);
}
body {
	font-family: verdana, helvetica, arial, sans-serif;
	color: #000000;
	font-size: 16px;
	font-variant: small;
	font-weight: normal;
	margin: 0 0 0 0;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	height: calc(100% - 100px);
}*/
.myLink:link, .myLink:visited {
	color: #2EA3F2;
	text-decoration: none;
}
.myLink:hover, .myLink:active {
	opacity: 0.7;
	transition: all 0.4s ease-in-out;
}
.holder {
    min-height: 100px;
}
.topbar {
    position: fixed;
    top: 0px;
	left: 0px;
	width: 100%;
	z-index: 99999;
	background-color: #FFFFFF;
}
.topbar {
	display: block;
	text-align: center;
	background-color: rgba(13,78,215,0.73);
	font-size: 28px;
	padding: 10px;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
	-ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
	-o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
}
.page {
	margin: 0px 10px;
	display: block;
}
.page-left {
	display: block;
	float: left;
	width: calc(50% - 5px);
	padding-right: 5px;
	height: 300px;
}
.page-right {
	display: inline-block;
	float: right;
	width: calc(50% - 5px);
	padding-left: 5px;
	height: 300px;
}
.page-bottom {
	display: block;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.title {
	padding-left: 10%;
	display: block;
	margin-bottom: 10px;
}
.log, .cst {
	height: 242px;
}
.input, .log, .cst {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	display: block;
}
.input {
	background: url(http://i.imgur.com/2cOaJ.png);
	background-attachment: local;
	background-repeat: no-repeat;
	padding-left: 35px;
	padding-top: 10px;
	border-color:#ccc;
}
.controls, .compilerVis {
	text-align: center;
	margin-bottom: 10px;
	display: block;
}
.compilerVis .btn {
	width: 162px;
}
.token {
	font-size: 14px;
	margin-right: 20px;
	display: inline-block;
}
.text-cyan {
	color: #17a2b8;
}
.text-blue {
	color: #007bff;
}
.text-red {
	color: #dc3545;
}
.text-gray {
	color: #6c757d;
}
.tokenTicker {
	display: inline-block;
	width: 100%;
	background-color: #f7f7f7;
	-webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.07);
	-moz-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.07);
	-ms-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.07);
	-o-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.07);
	box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.07);
	border-radius: 5px;
}
.token-marquee {
	width: 100%;
}